{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/my_orders.css' %}">
<div class="space-block"></div>
<div class="heading">
  <h2>All Orders</h2>
</div>
{% for order in orders %}
  <div class="order">
    <!-- Order Details Table -->
    <table class="order-details-table">
      <tr>
        <td><strong>Customer:</strong></td>
        <td>{{ order.user.username }}</td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td>{{ order.user.email }}</td>
      </tr>
      <tr>
        <td><strong>Order ID:</strong></td>
        <td>{{ order.order_id }}</td>
      </tr>
      <tr>
        <td><strong>Payment ID:</strong></td>
        <td>{{ order.payment_id }}</td>
      </tr>
      <tr>
        <td><strong>Total Price:</strong></td>
        <td>Rs {{ order.total_price }}</td>
      </tr>
      <tr>
        <td><strong>Address:</strong></td>
        <td>{{ user_profile.address }}</td>
      </tr>
      <tr>
        <td><strong>Phone:</strong></td>
        <td>{{ user_profile.phone_number }}</td>
      </tr>
      <tr>
        <td><strong>Order Date:</strong></td>
        <td>{{ order.created_at }}</td>
      </tr>
      <tr>
        <td class="order-status"><strong>Status:</strong></td>
        <td class="order-status">{{ order.status }}</td>
      </tr>
      <tr>
        <td class="download-invoice" colspan="2">
        
          {% if order.invoice %}
           <div>
               <a href="{{ order.invoice.url }}" download>Download Invoice</a>
          </div>
          {% else %}
            No Invoice Available
          {% endif %}
        
        </td>
      </tr>
      <tr>
        <td colspan="2">Note: Expect delivery within 3-5 working days.</td>
      </tr>
    </table>
    
    <!-- Order Items Table -->
    <table class="order-items-table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price (Rs)</th>
        </tr>
      </thead>
      <tbody>
        {% for item in order.items.all %}
          <tr>
            <td>{{ item.product }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}
<div class="space-block"></div>
<div class="space-block"></div>
{% endblock %}
